.names{
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(5, 100, 124, 0.692);
    box-shadow: 5px 7px 7px black;
    margin-bottom: 5px;
    text-align: center;
}
